= f.inputs :title
= f.input :text, :as => :text, :markdown => true

- allow :auditor do
  = f.input :slug

- allow :designer do
  = f.input :is_private, :as => :boolean

= f.submits :append => mk_timestamps( @object )
