.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:folder)
    .inner
      - form_for :object, url(:folders, :create), :class => :form do |f|
        = partial "folders/form", :locals => { :f => f }

- content_for :sidebar, partial("base/sidebar")
