.se-gallery
  - @pics.each do |pic|
    .item
      .well
        = link_to pic.file.url, :rel => 'box-image' do
          .image= image_tag pic.file.thumb.url, :width => '100%'
          .title= pic.title
