= partial 'base/edit_operations'
- form_for :object, url(:pages, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-pages" do |f|
  = partial "pages/form", :locals => { :f => f }
