.dialog-bonds
  %form{ :action => url(:dialogs, :bonds_ajax, params[:parent_model], params[:parent_id]), :method => :post }
    #tabs-bondables
      %ul
        %li= link_to 'Bond', url(:dialogs, :bond, params[:parent_model], params[:parent_id]), :"data-model" => 'Bond'
        - BONDABLES.each do |model|
          %li= link_to model.name, url(:dialogs, model.name.underscore.pluralize.to_sym, params)
    .dialog-buttons.modal-footer
      = link_to pat('save'), 'javascript:;', :class => 'button primary save-dialog'
      = link_to pat('cancel'), 'javascript:;', :class => 'button cancel-dialog'
:javascript
  bindDialogBonds();
