- @objects.each do |o|
  .item
    = link_to o.file.url, :class => :pick, :"data-id" => o.id, :"data-title" => o.title, :onclick => 'return false' do
      - unless o.title.blank?
        .title #{o.title} (#{File.extname(o.file.url)}, #{as_size(o.file_size)})
