.secondary-navigation#operations
  %ul.wat-cf
    %li.first=  mk_sop :list, url(@models, :index)
    %li{ :class => @object.new? && :active }=        mk_sop :new,  url(@models, :new)
    - unless @object.new?
      %li.active= mk_sop :edit, url(@models, :edit, :id => @object.id)
