%ul.nav.nav-tabs.operations
  %li.first=  mk_single_op :list, url(@models, :index)
  - if !@object.new? && @object.respond_to?(:id)
    %li.active= mk_single_op :edit, url(@models, :edit, :id => @object.id)
    - if BONDABLE_PARENTS.include? @object.class.name
      %li.toggle
        - bc = @object.bond_count
        = mk_dialog_op :bind, url(:dialogs, :bonds, :parent_model => @object.class, :parent_id => @object.id), :title => pat('dialog.bind_objects'), :add => (bc > 0 && " (#{bc})")
