.DS_Store
log/*
tmp/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
uploads/*
public/uploads/*
public/img/*
public/doc/*
public/cache/*
private/*
app/views/fragments/*
app/views/layouts/*
config/database.yml
config/legacy.yml
assets/stylesheets/app/*
assets/javascripts/app/*
Gemfile.lock
