.DS_Store
log/*
tmp/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
uploads/*
public/uploads/*
public/files/*
public/cache/*
public/favicon.ico
private/*
app/views/fragments/*
app/views/layouts/*
config/database.yml
config/legacy.yml
assets/stylesheets/app/*
assets/javascripts/app/*
Gemfile.lock
.bundle/*
vendor/ruby/*
