.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:news_rubric)
    .inner
      - form_for :object, url(:news_rubrics, :create), :method => :post, :class => 'form edit', :id => "edit-news_rubrics" do |f|
        = partial "news_rubrics/form", :locals => { :f => f }
