= partial 'base/edit_operations'
- form_for :object, url(:news_rubrics, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-news_rubrics" do |f|
  = partial "news_rubrics/form", :locals => { :f => f }
