.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:blocks, :index)
      %li=link_to pat(:new), url(:blocks, :new)
      %li.active=link_to pat(:edit), url(:blocks, :edit, :id => @block.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:block)
    .inner
      -form_for :block, url(:blocks, :update, :id => @block.id), :method => :put, :class => :form do |f|
        =partial "blocks/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
