= partial 'base/edit_operations'
- form_for :object, url(:blocks, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-blocks" do |f|
  = partial "blocks/form", :locals => { :f => f }
