.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:block)
    .inner
      - form_for :object, url(:blocks, :create), :class => :form do |f|
        = partial "blocks/form", :locals => { :f => f }
