= f.input :title
= f.input :code, :as => :text, :code => true, :value => @code
= f.input :id
= f.input :is_fragment, :as => :boolean
= f.input :is_module, :as => :boolean
= f.submits :append => mk_timestamps( @object )
