.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:fragment)
    .inner
      - form_for :object, url(:fragments, :create), :method => :post, :class => 'form edit', :id => "edit-fragments" do |f|
        = partial "fragments/form", :locals => { :f => f }

- content_for :sidebar, partial("base/sidebar")
