= partial 'base/edit_operations'
- form_for :object, url(:fragments, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-fragments" do |f|
  = partial "fragments/form", :locals => { :f => f }
