:ruby
  @opts[:kind] ||= :form
  if md = @swift[:slug].match( /(show|post)\/(.*)/ )
    @swift[:slug] = md[2]
    @swift[:path_pages] << Page.new
    @opts[:method] = md[1]
    if @opts[:method] == 'post' && @swift[:method] != 'POST' # FIXME ugly
      throw :core_halt, redirect( back )
    else
      throw :core_halt, element( 'Forms' + @opts[:kind].to_s.camelize, *@args, @opts )
    end
  end
  if md = @swift[:slug].match( /(poll)\/(.*)/ )
    @opts[:kind] = :inquiry
    @opts[:method] = md[1]
    @swift[:slug] = md[2]
    @swift[:path_pages] << Page.new
    throw :core_halt, element( 'Forms' + @opts[:kind].to_s.camelize, *@args, @opts )
  end
  @forms = FormsCard.all( :kind => @opts[:kind] ).published
