:ruby
  if md = @swift[:slug].match( /(show|post)\/(.*)/ )
    @swift[:skip_view]['Forms'] = true
    @swift[:slug] = md[2]
    @swift[:path_pages] << Page.new
    @opts[:method] = md[1]
    redirect @swift[:uri].gsub( /post/, 'show' )  if @opts[:method] == 'post' && @swift[:method] != 'POST' # FIXME ugly
    return element( 'FormsForm', @args, @opts )
  end
  @forms = FormsCard.all( :kind => :form ).published
