= f.input :title
= f.input :file, :as => :file
= f.input :folder_id, :as => :select, :selected => @object.folder_id, :collection => current_account.get_folders, :fields => [ :title, :id ], :include_blank => true
= f.submits