.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:edit)
      = mt(:asset)
    .inner
      - form_for :object, url(:assets, :update, :id => @object.id), :method => :put, :class => 'form edit', :id => "edit-assets", :multipart => true do |f|
        = partial "assets/form", :locals => { :f => f }
