body {
  padding-top: 60px;
  min-width: 800px;
}
.blurry {
  opacity: 0.3;
}
div.flash {
  position: absolute;
  left: 50%;
}
div#main {
  float: right;
}
div#sidebar {
  float: left;
}
#main .block {
  padding-top: 0;
}
#sidebar .block li.active a {
  color: #fff;
  background: #666;
}
.form a {
  font-size: 1em;
}
.nowrap {
  white-space: nowrap;
}
li.toggle u {
  text-decoration: none;
  border-bottom: 1px dashed #0069D6;
}

.action form { padding: 0 2px; margin: 0px;}
.action input {
  font-size:11px;
  padding:2px;
  width:50px;
  border-radius:2px;
}
th.action  { width: 110px; text-align:center }
/* bootstrap: glyph icons */
.sidebar li [class^="icon-"], [class*=" icon-"], .operations li [class^="icon-"], [class*=" icon-"] {
  width: 18px;
}
.alert {
  position: absolute;
  top: -3em;
  left: 50%;
  z-index: 2000;
}
.inline {
  display: inline-block;
  float: none;
  *float: left;
}
.block {
  display: block;
}
.btn-group + .btn-group.block {
  margin-left: 0;
}
.vtop {
  vertical-align: top;
}
.nav-pills > li > a {
  outline: none;
}
