.form span.error {
  display: inline-block;
  color: yellow;
  background: red;
}
.form textarea {
  min-height: 150px;
  width: 99%;
  resize: vertical;
}
.form textarea.code {
  min-height: 300px;
  font-family: Courier New, monospace;
}
form input[id$=title], form .long input.text_field {
  width: 99%;
}

form .as_group .clone {
  margin-top: 3px;
}
form .as_group .horizontal + .hide + .clone {
  margin-top: 9px;
}
form .as_group .horizontal + .horizontal {
  margin-top: 9px;
}
form .as_group .horizontal input {
  vertical-align: top;
}
form .as_group .horizontal .easy-select-box {
  width: 210px;
}
form .as_group .horizontal .easy-select-box ul {
  width: 218px;
}
.form-horizontal .morphable .control-label {
  width: 280px;
}
.form-horizontal .morphable .controls {
  margin-left: 300px;
}
form .horizontal textarea {
  margin-top: 0;
  width: 210px;
  display: inline-block;
  vertical-align: top;
}
.form .as_file img {
  max-width: 200px;
  max-height: 200px;
}
.controls.table {
  white-space: nowrap;
}
.controls.table table form {
  margin: 0; padding: 0;
}
.controls.table table form input {
  margin: -5px;
  vertical-align: top;
}
.controls.table table td, .controls.table table th {
  min-width: 120px;
  Rmax-width: 240px;
  min-height: 17px;
}
.controls.table table td:hover, .controls.table table th:hover {
  background-color: #eee;
}
label.btn > input[type="checkbox"] {
  margin-top: -1px;
  margin-right: 10px;
}
div.timestamps {
  display: inline-block;
  vertical-align: top;
  margin: -10px 0 -100% 1em;
}
div.timestamps span.legend {
  font-size: 0.85em;
  display: inline-block;
  width: 100px;
  text-align: right;
  padding: 0 5px;
}
div.timestamps .badge {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin-right: 0.5em;
}
div.timestamps .partition {
  margin: 0 0 0.4em;
}
form.multiple {
  margin-bottom: 90px;
}
form.multiple + .form-actions {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-left: 12px;
  margin-left: -19px;
  margin-bottom: 0;
  margin-top: 0;
}
