/* Images */
.dialog-images {
}
.dialog-images .item {
  position: relative;
  display: inline-block;
  width: 120px;
  Rheight: 150px;
  Rpadding: 5px;
  overflow: hidden;
  margin: 2px;
  vertical-align: top;
  Rbackground: #333;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  text-align: center;
}
.dialog-images .item img.preview {
  max-width: 100px;
  max-height: 75px;
  vertical-align: middle;
}
.dialog-images .item .image {
  width: 120px;
  height: 75px;
  padding: 3px 0 0 0;
}
.dialog-images .item .link {
  display: none;
}
.dialog-images .item .title {
  margin: 3px 0;
  padding: 0 1.3em;
}
.dialog-images input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  top: 3px;
  left: 3px;
  margin: 0;
}
.dialog-images a.pick {
  outline: none !important;
}
.dialog-images a.pick:hover + input[type=checkbox], .dialog-images input[checked] {
  visibility: visible;
} 

/* Assets */
.dialog-assets {
}
.dialog-assets .tab-pane {
  position: relative;
}
.dialog-assets .item {
  overflow: hidden;
  margin-bottom: 0.4em;
}
.dialog-assets .item .info {
  float: left;
}
.dialog-assets .item a {
  display: block;
}

.dialog-assets .item input, .dialog-blocks .item input, .dialog-codes .item input, .dialog-pages .item input {
  margin-right: 4px;
  float: left;
}
.dialog-assets .item a, .dialog-blocks .item a, .dialog-codes .item a, .dialog-pages .item a {
  display: block;
  margin-left: 18px;
}

.dialog-pages {
}
.dialog-pages div {
  padding-left: 1em;
}
div.item a.unbind img {
  vertical-align: middle;
  margin-left: 1em;
}
a.pick + input[type=checkbox] {
  vertical-align: middle;
}
div.grippie {
  background:#EEEEEE url(/images/grippie.png) no-repeat scroll center 2px;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  overflow:hidden;
  margin-top: -2px;
}
.thumbnails {
  margin-left: -16px;
}
.thumbnails > li {
  position: relative;
  float: none;
  display: inline-block;
  *float: left;
  margin-left: 16px;
  vertical-align: top;
}
.thumbnails a.fileinput-button {
  cursor: pointer;
}
.thumbnails a.fileinput-button:hover {
  text-decoration: none;
}
.thumbnails a.fileinput-button:hover .caption {
  text-decoration: underline;
}
.thumbnail {
  position: relative;
  overflow: hidden;
  max-height: 140px;
}
.thumbnail .placeholder {
  width: 130px;
  height: 100px;
  background: #eee;
  text-align: center;
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  cursor: pointer;
}
.thumbnail img {
  max-width: 130px;
  max-height: 100px;
  _width: 130px; _height: 100px;
}
.thumbnail .progress {
  margin: 4px 0 0;
}
.thumbnail .scene {
  width: 130px;
  height: 100px;
  overflow: hidden;
}
.thumbnail .scene img {
  max-width: none;
  max-height: none;
  vertical-align: middle;
}
.thumbnail .scene img.wide {
  width: auto;
  height: 100%;
}
.thumbnail .scene img.narrow {
  width: 100%;
  height: auto;
}
.thumbnail .curtain {
  position: absolute;
  width: 130px;
  height: 100px;
  top: 4px;
  background: #fff;
}
.thumbnail .caption {
  word-wrap: break-word;
  font-size: 12px;
  padding: 4px 2px 0;
  width: 126px;
}
.modal {
  width: 830px;
  margin-left: -415px;
}
.modal-body {
  max-height: 600px;
}
#pick_image .modal-footer {
  padding-top: 26px;
}
#pick_image .modal-footer label {
  text-align: left;
  margin-right: 10px;
  margin-top: -20px
}
#pick_image .modal-footer label select {
  vertical-align: baseline;
  display: block;
  width: 180px;
}
