.table th.first, .table th.last {
  width: 1%;
  text-align: right;
}
.table td.first, .table td.last {
  text-align: right;
}
.table label.checkbox {
  cursor: pointer;
  display: block;
  margin: -8px;
  padding: 8px;
  white-space: nowrap;
  text-align: right;
}
.table input[type=checkbox] {
  cursor: pointer;
  margin-left: 1px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  float: none;
}
.table td input[type="checkbox"] {
  margin-top: -1px;
}
.table td a.edit {
  margin: -8px;
  padding: 8px;
  display: block;
}
.table-condensed td a.edit {
  margin: -4px -5px;
  padding: 4px 5px;
}
.table-condensed td i + a.edit {
  margin-left: 15px;
}
.table.table-condensed label.checkbox {
  margin: -4px -5px;
  padding: 4px 5px;
}
.table td.edit > i {
  float: left;
  margin: 3px 6px 0 0;
}
.table td.edit .controls {
  display: none;
  float: right;
  margin: -22px 0;
}
.table tr:hover td.edit .controls {
  display: block;
}
.table tr.level-1 td.edit {
  padding-left: 2em;
}
.table tr.level-2 td.edit {
  padding-left: 4em;
}
.table tr.level-3 td.edit {
  padding-left: 6em;
}
.table tr.level-4 td.edit {
  padding-left: 8em;
}
.table tr.level-5 td.edit {
  padding-left: 10em;
}
.table tr.level-6 td.edit {
  padding-left: 12em;
}
.table tr.level-7 td.edit {
  padding-left: 14em;
}
.table th.sorting, .table th.sorting_asc, .table th.sorting_desc {
  padding-right: 16px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/images/sort_desc_disabled.png') no-repeat center right; }
.inline .nav-pills {
  margin-bottom: 0;
}
.page-control {
  text-align: right;
  margin-bottom: 2px;
  position: relative;
  padding: 8px 8px 6px;
}
.page-filter {
}
.page-control .inline {
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 2px;
}
.page-control .inline:first-child {
  margin-left: 0;
}
.page-control label {
  margin: 0;
}
.page-control select {
  vertical-align: baseline;
  margin: 0;
}
.page-control .pagination ul > li > a, .page-control .pagination ul > li > span {
  line-height: 18px;
}
.page-control select {
  width: auto;
  max-width: 220px
}
.page-filter input {
  display: inline;
  height: 18px;
  width: 190px;
}
.page-control .page-paginate {
  float: left;
}
.page-control .pagination {
  margin: 0 0 -5px;
}
.page-control .pagination ul {
  background: #fff;
}
.page-control .page-processing > div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
.page-control .page-processing > div .shadow {
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}
.table td a.btn {
  margin: -4px;
}
.table td a.btn i {
  width: 18px;
}
table.smart {
  width: 100%;
}
