/* bootstrap stats bars*/
.form-horizontal .stats .control-group {
  margin-bottom: 0;
}
.form-horizontal .stats .progress {
  margin-bottom: 0;
  width: 200px;
}
.form-horizontal .stats .control-label {
  padding-top: 0;
  margin-right: 9px;
}
.form-horizontal .stats {
  margin-bottom: 18px;
}
.form-horizontal .stats h3 {
  margin-bottom: 9px;
}
