/* jquery-ui */
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-dialog .ui-dialog-content {
  padding: 0;
}
.ui-dialog .ui-dialog-title {
  margin: 0;
  padding: 0;
}
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
  color: #000;
}

/* bootstrap */
.topbar {
  z-index: 1000;
}
.nav-tabs li.last {
  float: right;
}
.container-fluid > .sidebar {
  min-height: 100%;
  margin-top: 38px;
}
.container-fluid > .content {
  margin-bottom: -38px;
}

/* botstrap:vertical tabs */
/*
.nav-tabs.vertical {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 1px 0 0;
}
.nav-tabs.vertical > li {
    position: relative;
    margin-right: -1px;
    float: none;
}
.nav-tabs.vertical > li > a {
      margin-right: 0;
      border: 1px solid transparent;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
}
.nav-tabs.vertical > li > a:hover {
        border-color: #eee #ddd #eee #eee;
}
.nav-tabs.vertical > li.active > a,
.nav-tabs.vertical > li.active > a:hover {
    border: 1px solid #ddd;
    border-right-color: transparent;
}
*/
.tabs-left .nav-tabs {
    float: none;
    margin-right: 0;
    border-right: 0;
}
.nav-tabs li + .nav-header {
    margin-top: 18px;
}
.nav-tabs .nav-header {
    line-height: 24px;
}
.sidebar.tabs-left {
    border-right: 1px solid #DDDDDD;
}

/* multidimentional tabs for a sheet */
.nav-tabs.operations {
  margin-left: -20px;
  padding-left: 20px;
}
.nav-tabs.sidebar {
  border-right: 0;
}

/* bootstrap: sidebar */
.container-fluid {
    position: relative;
}
.container-fluid > .sidebar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 220px;
}
.container-fluid > .content {
    margin-left: 240px;
}

/* jquery ui & bootstrap comflicts */
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  color: #fff !important;
}

/* bootstrap: modal dialog */
.modal {
  top: 0;
  margin-top: 0;
  max-height: 100%;
}
.modal-body {
}

/* bootstrap: label/header for nav-pills */
.nav-pills .nav-header {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1em;
    text-transform: none;
}

/* popover right-down arrow */
.popover.right-down{margin-left:10px;}
.popover.right-down .arrow{top:16px;left:-10px;margin-top:-10px;border-width:10px 10px 10px 0;border-right-color:#ffffff;}
.popover.right-down .arrow:after{border-width:11px 11px 11px 0;border-right-color:rgba(0, 0, 0, 0.25);bottom:-11px;left:-1px;}
.popover.right-down .popover-title{display:none}
.popover .unstyled li{white-space: nowrap}
/* .popover.right-down .arrow{top:27px;left:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #000000;} */

/* bootstrap fix 2.1.0 icons on active nav */
.nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png");
}

/* pull floated inline button a bit up */
.form-inline .pull-right {
  margin-top: -3px;
}

/* fix mozilla's placeholder color */
input:-moz-placeholder {
    color:    #999;
}

/* fix bootstrap graphics */
[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png");
}
/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings-white.png");
}

/* fix btn-toolbar tooltip */
.btn-group > .btn + .tooltip + .btn {
  margin-left: -1px;
}

/* remove horse margin between groups of form-horizontal */
.form-horizontal .control-group {
  margin-bottom: 10px;
}

/* fix upper margin when a button goes after navbar text in the navbar */
.navbar-text + .btn {
  margin-top: 0;
}

/* align inline checkboxes vertically */
.controls.form-inline .radio, .controls.form-inline > .checkbox {
  padding-top: 5px;
}

/* dont wrap words in the header of login container */
.login h4 small {
  white-space: nowrap;
}

/* add fancy outline to select */
select {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
