.content ul.folders, .content ul.folders li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: none;
}
.content ul.folders li {
  display: inline-block;
  *float: left;
  margin: 0 0.5em 1.5em 0;
  text-align: center;
}
.content ul.folders li img {
  padding: 5px;
  border: 1px solid #b9b9b9;
}

.carousel {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.carousel nav {
  position: absolute;
  cursor: pointer;
}
.carousel nav:hover {
  background: #f7f7f7;
}
.carousel nav.prev {
  left: 2px; top: 0;
}
.carousel nav.next {
  right: 2px; top: 0;
}
.carousel .images {
  display: block;
  overflow: hidden;
  padding: 2px 0;
}
.carousel .images article {
  display: inline-block;
  margin-right: 1px;
}
.carousel {
  white-space: nowrap;
}
