img.left {
  float: left;
  clear: left;
  margin-right: .75em
}
img.leftof {
  float: left;
  clear: none;
  margin-right: .75em
}
img.right {
  float: right;
  clear: right;
  margin-left: .75em
}
img.rightof {
  float: right;
  clear: none;
  margin-left: .75em
}
