img.leftno {
  float: left;
  clear: none;
  margin-right: 0.75em;
}
img.leftof {
  float: left;
  clear: left;
  margin-right: 0.75em;
  margin-bottom: 0.25em;
}
img.rightno {
  float: right;
  clear: none;
  margin-left: 0.75em;
}
img.rightof {
  float: right;
  clear: right;
  margin-left: 0.75em;
  margin-bottom: 0.25em;
}
img.leftno + img.leftno {
  margin-left: -0.5em;
}
img.rightno + img.rightno {
  margin-right: -0.5em;
}
