- @rand_id = SecureRandom.hex(4)
- save_rand = @rand_id
- @max_level.times do |level|
  = link_to level, 'javascript:;', :onclick => "view(#{level})"
= partial 'elements/SiteMap/viewRec'

javascript:
  var max_level = 3;

  links = document.getElementById('#{save_rand}').getElementsByTagName('LI');
  
  function view(max_level) {
    for (var i = 0; i < links.length; i++) {
      var level = parseInt(links[i].className.split('level-')[1]);
      links[i].style['display'] = level > max_level ? 'none':'block';
    }
  }
