= partial 'base/edit_operations'
- form_for :object, url(:news_articles, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-news_articles" do |f|
  = partial "news_articles/form", :locals => { :f => f }
