= partial 'base/edit_operations'
= form_for :object, url(:forms_cards, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-forms_cards" do |f|
  = partial "forms_cards/form", :locals => { :f => f }
