= f.input :name
= f.input :surname
= f.input :email
= f.input :password, :as => :password
= f.input :password_confirmation, :as => :password
= f.input :group_id, :as => :select, :selected => @object.group_id, :collection => Account.all( :group_id => nil ), :fields => [ :title, :id ], :include_blank => false
- allow :admin do
  = f.input :restricted, :as => :boolean
= f.submits :append => mk_timestamps( @object )
