= partial 'base/edit_operations'
- form_for :object, url(:accounts, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-accounts" do |f|
  = partial "accounts/form", :locals => { :f => f }
