= partial 'base/edit_operations'
= form_for :object, url(:accounts, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-accounts" do |f|
  = partial "accounts/form", :locals => { :f => f }
