- @by_user = @subject
- @by_object = @object
- @object = @subject
= partial 'base/show_operations'
- Protocol.for( @by_user, @by_object ).each do |step|
  = partial 'protocols/step', :locals => { :step => step }
