= partial 'base/edit_operations'
= form_for :object, url(:options, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-options" do |f|
  = partial "options/form", :locals => { :f => f }
