.form span.error {
  display: inline-block;
  color: yellow;
  background: red;
}
.form textarea {
  min-height: 150px;
}
.form textarea.code {
  min-height: 300px;
  font-family: Courier New, monospace;
}
.form input.check_box {
  vertical-align: middle;
}
