.form span.error {
  display: inline-block;
  color: yellow;
  background: red;
}
.form textarea {
  min-height: 150px;
  width: 99%;
  resize: vertical;
}
.form textarea.code {
  min-height: 300px;
  font-family: Courier New, monospace;
}
.form input.check_box {
  vertical-align: middle;
}
form table tr.level-0 td.slug {
padding-left: 1em;
}
form table tr.level-1 td.slug {
padding-left: 3em;
}
form table tr.level-2 td.slug {
padding-left: 5em;
}
form table tr.level-3 td.slug {
padding-left: 7em;
}
form table tr.level-4 td.slug {
padding-left: 9em;
}
