.dialog-images {
}
.dialog-images .item {
  display: inline-block;
  width: 120px;
  Rheight: 150px;
  Rpadding: 5px;
  overflow: hidden;
  margin: 2px;
  vertical-align: top;
  Rbackground: #333;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  text-align: center;
}
.dialog-images .item img.preview {
  max-width: 100px;
  max-height: 75px;
  vertical-align: middle;
}
.dialog-images .item .image {
  width: 120px;
  height: 75px;
  padding: 3px 0 0 0;
}
.dialog-images .item .link {
  display: none;
}
.dialog-images .item .title {
  margin: 3px 0;
  padding: 0 1.3em;
}
.dialog-pages {
}
.dialog-pages div {
  padding-left: 1em;
}
div.item a.unbind img {
  vertical-align: middle;
  margin-left: 1em;
}
a.pick + input[type=checkbox] {
  vertical-align: middle;
  margin-left: 0.5em;
}
.dialog-images .item {
  position: relative;
}
.dialog-images input[type=checkbox] {
  position: absolute;
  right: 0.3em;
  bottom: 0.1em;
}
div.grippie {
  background:#EEEEEE url(/images/grippie.png) no-repeat scroll center 2px;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  overflow:hidden;
  margin-top: -2px;
}
.thumbnails {
  margin-left: -16px;
}
.thumbnails > li {
  position: relative;
  float: none;
  display: inline-block;
  margin-left: 16px;
  vertical-align: top;
}
.thumbnail img {
  max-width: 130px;
  max-height: 100px;
  _width: 130px; _height: 100px;
}
.modal {
  width: 670px;
}
