.table th.first, .table th.last, .table th.publish {
  width: 1%;
  text-align: right;
}
.table td.first, .table td.last {
  text-align: right;
}
.table label.checkbox {
  cursor: pointer;
  display: block;
  margin: -8px;
  padding: 8px;
  white-space: nowrap;
  text-align: right;
}
.table input[type=checkbox] {
  cursor: pointer;
  margin-left: 4px;
  vertical-align: middle;
  display: inline-block;
  float: none;
}
.table td a.edit {
  margin: -8px;
  padding: 8px;
  display: block;
}