.table th.first, .table th.last {
  width: 1%;
  text-align: right;
}
.table td.first, .table td.last {
  text-align: right;
}
.table label.checkbox {
  cursor: pointer;
  display: block;
  margin: -8px;
  padding: 8px;
  white-space: nowrap;
  text-align: right;
}
.table input[type=checkbox] {
  cursor: pointer;
  margin-left: 4px;
  vertical-align: middle;
  display: inline-block;
  float: none;
}
.table td input[type="checkbox"] {
  margin-top: -1px;
}
.table td a.edit {
  margin: -8px;
  padding: 8px;
  display: block;
}
.table-condensed td a.edit {
  margin: -4px -5px;
  padding: 4px 5px;
}
.table td.edit i {
  float: left;
  margin: 3px 0.5em 0;
}
.table td.edit .controls {
  display: none;
  float: right;
  margin: -20px 0;
}
.table tr:hover td.edit .controls {
  display: block;
}
.table tr.level-1 td.edit {
  padding-left: 2em;
}
.table tr.level-2 td.edit {
  padding-left: 4em;
}
.table tr.level-3 td.edit {
  padding-left: 6em;
}
.table tr.level-4 td.edit {
  padding-left: 8em;
}
.table tr.level-5 td.edit {
  padding-left: 10em;
}
.table tr.level-6 td.edit {
  padding-left: 12em;
}
.table tr.level-7 td.edit {
  padding-left: 14em;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/images/sort_desc_disabled.png') no-repeat center right; }
.inline .nav-pills {
  margin-bottom: 0;
}
.page-control {
  float: right;
  margin: 0 0 -8px 0;
  padding: 15px 20px 0;
}
.page-filter {
  float: right;
  margin-top: -53px;
}
.page-filter input {
  display: inline;
}
.inline .pagination {
  margin: 0;
  background: #fff;
}
