.table th.first, .table th.last, .table th.publish {
  width: 1%;
  text-align: right;
}
.table td.first, .table td.last {
  text-align: right;
}
.table td.first a {
  display: block;
  margin: -10px;
  padding: 10px;
}
.table .last label {
  display: block;
  margin: -10px;
  padding: 10px;
}
.table input[type=checkbox], form.multiple .last label {
  cursor: pointer;
}
.table input[type=checkbox] {
  margin-left: 4px;
  vertical-align: middle;
  display: inline-block;
}
.table .last {
  white-space: nowrap;
  text-align: right;
}
