.wysiwym-editor .btn-group .text { display: none; }

.icon-quote,
.icon-code,
.icon-inline-code,
.icon-number-list,
.icon-header,
.icon-hr-line,
.icon-undo {
	background-image: url(/images/Markdown.Editor.Icons.png);
}
.icon-link              { background-position:-336px -144px; }
.icon-quote             { background-position: -24px  0; }
.icon-inline-code       { background-position: -48px  0; }
.icon-code              { background-position: -48px  0; }
.icon-bullet-list       { background-position:-360px -48px; }
.icon-number-list       { background-position: -96px  0; }
.icon-header            { background-position: -120px 0; }
.icon-hr-line           { background-position: -144px 0; }
.icon-undo              { background-position: -168px -1px; }
.icon-page              { background-position: -48px -48px; }   
.icon-asset             { background-position: -24px -24px; }   
.icon-block             { background-position: -264px -24px; }   
.icon-image             { background-position: -456px -48px; }
