/* Easy Select Box */
.easy-select-box{
  position: relative;
  width: 390px;
  font-size: 12px;
  color:#0c2245;
  border: 1px solid #CFCFCF;
  padding: 4px;
  margin: 1px 0;
  background: #fff;
}
#user_birth_3i + .easy-select-box { width: 35px; margin-right: 5px; }
#user_birth_2i + .easy-select-box { width: 85px; margin-right: 5px; }
#user_birth_1i + .easy-select-box { width: 55px; }
#user_birth_3i + .easy-select-box ul { width: 150px; }
#user_birth_3i + .easy-select-box ul li:nth-child(7n+2) { clear: left; }
#user_birth_3i + .easy-select-box ul li { width: 20px !important; text-align: right !important; }
#user_birth_2i + .easy-select-box ul { width: 90px; }
#user_birth_2i + .easy-select-box ul li { float: none !important; }
#user_birth_1i + .easy-select-box ul { width: 60px; }
#user_birth_1i + .easy-select-box ul li { float: none !important; }
#user_gender_input .easy-select-box { width: 85px; }
#user_gender_input .easy-select-box ul { width: 80px; }

.easy-select-box .easy-select-box-disp,
.easy-select-box .easy-select-box-disp:visited{
  background: url(/images/rdown.png) no-repeat right 5px;
  display:block;
  color:#0c2245;
  text-decoration:none;
  height: 1.167em;
}
.easy-select-box .easy-select-box-disp:hover{
  position:relative;
  Wbackground-position: 0 -18px;
  text-decoration:none;
}
.easy-select-box ul{
  position:absolute;
  top:100%;
  left:-1px;
  border:1px solid #cccccc;
  display:none;
  width:398px;
  overflow:auto;
  background:#FFFFFF;
  list-style: none; padding: 0; margin: 0;
}
.easy-select-box li {
  list-style: none; padding: 0; margin: 0;
}
.easy-select-box ul li a,
.easy-select-box ul li a:visited{
  height: 1.167em;
  padding:3px;
  background:#FFFFFF;
  display:block;
  color:#0c2245;
  cursor:default;
  text-decoration:none;
  overflow: hidden;
  white-space: nowrap;
}
.easy-select-box ul li a:hover{
  background:#69abba;
  color:#FFFFFF !important;
  text-decoration:none;
}
