/* Easy Select Box */
.easy-select-box {
  position: relative;
  min-width: 290px;
  font-size: 12px;
  line-height: 18px;
  color:#0c2245;
  border: 1px solid #CFCFCF;
  padding: 4px;
  background: #fff;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.easy-select-box.open {
  Rborder-radius: 3px 3px 0 0;
  position: absolute;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
#user_birth_3i + .easy-select-box { width: 35px; margin-right: 5px; }
#user_birth_2i + .easy-select-box { width: 85px; margin-right: 5px; }
#user_birth_1i + .easy-select-box { width: 55px; }
#user_birth_3i + .easy-select-box ul { width: 150px; }
#user_birth_3i + .easy-select-box ul li:nth-child(7n+2) { clear: left; }
#user_birth_3i + .easy-select-box ul li { width: 20px !important; text-align: right !important; }
#user_birth_2i + .easy-select-box ul { width: 90px; }
#user_birth_2i + .easy-select-box ul li { float: none !important; }
#user_birth_1i + .easy-select-box ul { width: 60px; }
#user_birth_1i + .easy-select-box ul li { float: none !important; }
#user_gender_input .easy-select-box { width: 85px; }
#user_gender_input .easy-select-box ul { width: 80px; }

.easy-select-box .easy-select-box-disp,
.easy-select-box .easy-select-box-disp:visited{
  background: url(/images/rdown.png) no-repeat right 7px;
  display:block;
  color:#0c2245;
  text-decoration:none;
  height: 18px;
  padding-right: 25px;
}
.easy-select-box .easy-select-box-disp:hover{
  position:relative;
  Wbackground-position: 0 -18px;
  text-decoration:none;
}
.easy-select-box ul{
  Rposition:absolute;
  margin: 4px -4px 0;
  top:100%;
  left:-1px;
  border-top:1px solid #cccccc;
  display:none;
  min-width:298px;
  overflow:auto;
  background:#FFFFFF;
  list-style: none; padding: 0;
  Rborder-radius: 0 0 3px 3px;
}
.easy-select-box li {
  list-style: none; padding: 0; margin: 0;
}
.easy-select-box ul li a,
.easy-select-box ul li a:visited{
  height: 18px;
  padding:4px;
  background:#FFFFFF;
  display:block;
  color:#0c2245;
  cursor:default;
  text-decoration:none;
  overflow: hidden;
  white-space: nowrap;
}
.easy-select-box ul li a:hover{
  background: #0074CC;
  color: #FFFFFF !important;
  text-decoration: none;
}
