= partial 'base/edit_operations'
- form_for :object, url(:images, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-images", :multipart => true do |f|
  = partial "images/form", :locals => { :f => f }
