.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:image)
    .inner
      - form_for :object, url(:images, :create), :class => :form, :id => "edit-images", :multipart => true do |f|
        = partial "images/form", :locals => { :f => f }
