.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:image)
    .inner
      - form_for :object, url(:images, :create), :class => :form do |f|
        = partial "images/form", :locals => { :f => f }

- content_for :sidebar, partial("base/sidebar")
