.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:edit)
      = mt(:layout)
    .inner
      - form_for :object, url(:layouts, :update, :id => @object.id), :method => :put, :class => 'form edit', :id => "edit-layouts" do |f|
        = partial "layouts/form", :locals => { :f => f }
