= partial 'base/edit_operations'
- form_for :object, url(:layouts, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-layouts" do |f|
  = partial "layouts/form", :locals => { :f => f }
