.block
  = partial 'base/edit_operations'
  .content
    %h2.title
      = pat(:new)
      = mt(:layout)
    .inner
      - form_for :object, url(:layouts, :create), :method => :post, :class => 'form edit', :id => "edit-layouts" do |f|
        = partial "layouts/form", :locals => { :f => f }
