.navbar
  .navbar-inner
    .container
      = link_to 'Центр мультимедиа и интернет технологий МИТТЕК', url(:core_index), :class => :brand

= div_open 'row-fluid'

.span3
  = element 'MapTree', :expand => false, :root => nil

= div_open 'span9'
