= partial 'base/edit_operations'
= form_for :object, url(:cat_nodes, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-cat_nodes" do |f|
  = partial "cat_nodes/form", :locals => { :f => f }
