| Введите код сброса пароля #{@code}
br
| или перейдите по ссылке 
a href="http://#{@host}/admin/accounts/reset?email=#{@login}&reset=#{@code}" сбросить пароль
br
br
| Код и ссылка действуют только #{I18n.l Date.today, :format => :long}
