= partial 'base/edit_operations'
= form_for :object, url(:cat_groups, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-cat_groups" do |f|
  = partial "cat_groups/form", :locals => { :f => f }
