.table th.first, .table th.last, .table th.publish {
  width: 1%;
  text-align: right;
}
.table td.first, .table td.last {
  background: #eee;
  text-align: right;
}
.table th.first, .table th.last {
  background: #222;
}
.table td.first a, .table .last label {
  display: block;
  margin: -10px;
  padding: 10px;
}
.table td.first a:hover, .table td.last label:hover {
  background: #ccc;
}
.table th.first a:hover, .table th.last label:hover {
  background: #555;
}
.table td.last {
  text-align: left;
}
.table input[type=checkbox], form.multiple .last label {
  cursor: pointer;
}
