/*
 *= require jquery-ui
 *= require paginator3000
 *= require colorbox
 *= require 91-markdown
 *= require 92-easyselect
 */

ul.wat-cf li.last {
  float: right;
}
.table th.last {
  width: 1em;
}
.table td.last {
  text-align: left;
}
a.multiple, a.single {
  padding-left: 3.5em !important;
}
a.multiple img.op, a.single img.op {
  vertical-align: middle;
  width: 2em;
  position: absolute;
  margin: -0.33em 0 0 -2.5em;
}
.secondary-navigation {
  border-bottom-width: 0;
}
.blurry {
  opacity: 0.3;
}
