ruby:
  @swift[:module_path_ids] = []
  @rubrics = NewsRubric.all

  if md = @swift[:slug].match( /show\/(.*)/ )
    @swift[:slug] = md[1]
    @swift[:path_pages] << Page.new
    throw :output, element( 'NewsArticle', @args, @opts )
  end
  
  if md = @swift[:slug].match( /.*/ )
    @active_rubrics = Bond.children_for(@page, 'NewsRubric')
    unless @active_rubrics.any?
      steps = @swift[:slug].split( '/' )
      steps.each do |step|
        rubric = @rubrics.by_slug(step)
        not_found  unless rubric
        not_found  if @swift[:module_path_ids].last && rubric.parent_id != @swift[:module_path_ids].last
        @swift[:module_path_ids] << rubric.id
        @active_rubrics << rubric
      end
    end

    core = element( 'NewsRubrics', @args, @opts )
    core += element( 'NewsPager', @args, @opts )
    throw :output, core
  end
