ruby:
  @swift[:module_path_ids] = []
  @rubrics = NewsRubric.all

  if md = @swift[:slug].match( /show\/(.*)/ )
    @swift[:slug] = md[1]
    @swift[:path_pages] << Page.new
    throw :core_halt, element( 'NewsArticle', @args, @opts )
  end
  
  if md = @swift[:slug].match( /.*/ )
    steps = @swift[:slug].split( '/' )
    steps.each do |step|
      rubric = @rubrics.by_slug(step)
      not_found  unless rubric
      not_found  if @swift[:module_path_ids].last && rubric.parent_id != @swift[:module_path_ids].last
      @swift[:module_path_ids] << rubric.id
      @rubric = rubric
    end

    core = element( 'NewsRubrics', @args, @opts )
    core += element( 'NewsPager', @args, @opts )
    throw :core_halt, core
  end
