= partial 'base/edit_operations'
= form_for :object, url(:cat_cards, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-cat_cards" do |f|
  = partial "cat_cards/form", :locals => { :f => f }
