%dr
  - @news_years.each do |ny| 
    %dt
      = link_to ny, @swift[:uri].to_s+"?year="+ny.to_s 
  - @news_months.each do |nm| 
    %dt
      - if params[:year] 
        = link_to @monthNames[nm], @swift[:uri].to_s+"?year="+params[:year]+"&month="+nm.to_s  
      - else
        = link_to @monthNames[nm], @swift[:uri].to_s+"?year="+Date.today.year.to_s+"&month="+nm.to_s  
