ruby:
  @image = Image.get @args[0]
  throw :output, "[Image ##{@args[0]} missing]"  unless @image
  @attrs = { }
  styles = []

  @attrs[:class] = []
  @attrs[:class] << 'sized'  if @opts[:width] || @opts[:height]
  @opts[:identity].to_s.scan(/[\.\#][\w\-]*/).each do |attr|
    @attrs[:class] << attr[1..-1]  if attr[0] == '.'
    @attrs[:id] = attr[1..-1]  if attr[0] == '#'
  end
  @attrs[:class] = @attrs[:class].join(' ')

  @attrs[:alt] = @opts[:title].blank? ? @image.title : @opts[:title]
  [:width, :height].each do |dim|
    if @opts[dim]
      styles << if @opts[dim].index('px') || !@opts[dim].index(/[^\d]/)
        @attrs[dim] = @opts[dim].to_i
        "#{dim}:#{@opts[dim].to_i}px"
      else
        "#{dim}:#{@opts[dim]}"
      end
    end
  end
  @attrs[:style] = styles.join(';')  if styles.any?
