= partial 'base/index_operations'
%form.inner.multiple#multiple-elements{ :action => url(:elements, :index)/:multiple, :method => :post }
  %table.table{ :class => 'smart' }
    %thead
      %tr
        %th.first
        %th= mat(:object, :slug)
    %tbody
      - @objects.each do |object|
        %tr
          %td.last= mk_checkbox object
          %td= object.slug
