= partial 'base/edit_operations'
- form_for :object, url(:elements, :create), :method => :post, :class => 'form form-horizontal edit', :id => "edit-elements" do |f|
  = partial "elements/form", :locals => { :f => f }
