!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    = stylesheet_link_tag '/assets/app'
    = element 'PageTitle'
  %body
    = yield
