= partial 'base/edit_operations'
- form_for :object, url(:codes, :update, :id => @object.id), :method => :put, :class => 'form form-horizontal edit', :id => "edit-codes" do |f|
  = partial "codes/form", :locals => { :f => f }
